{% extends "master.html" %}
{% block title %}Doctor Profile - Bangladesh's Smart Patient Managing & Uniquelization Service{% endblock %}
{% load widget_tweaks %}
{% block content %}

<section class="container">

    <div class="my-card mt-4 mb-3">
        <h4>Doctor Profile</h4>
        <hr class="mb-5">

        <div class="sign-form rounded border">
            <form action="" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                    <div class="mb-3 text-center">
                        {% if user.doctor.profile_image %}
                        <img class="profile-img rounded-circle mb-3"src="/media/{{ user.doctor.profile_image }}" alt="{{ user.username }}">
                        {% else %}
                        <img class="profile-img rounded-circle mb-3"src="/media/images/profile.jpg" alt="Patient image"><br>
                        {% endif %}
                        <input type="file" class="form-control" id="img" name="img">
                    </div>
                    <div class="form-floating mb-3">
                        <input disabled type="text" name="username" class="form-control" placeholder="username" value="{{ user.username }}">
                        <label for="username">Username</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="text" name="first_name" class="form-control" placeholder="first_name" value="{{ user.first_name }}">
                        <label for="first_name">First name</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="text" name="last_name" class="form-control" placeholder="last_name" value="{{ user.last_name }}">
                        <label for="last_name">Last name</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="email" name="email" class="form-control" placeholder="email" value="{{ user.email }}">
                        <label for="email">Email</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="text" name="specialty" class="form-control" placeholder="gender" value="{{ user.doctor.specialty }}">
                        <label for="specialty">Specialty</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="text" name="qualification" class="form-control" placeholder="gender" value="{{ user.doctor.qualification }}">
                        <label for="qualification">Qualification</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input disabled type="text" name="gender" class="form-control" placeholder="gender" value="{{ user.doctor.gender }}">
                        <label for="gender">Gender</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="text" name="dob" class="form-control" placeholder="dob" value="{{ user.doctor.dob }}">
                        <label for="dob">DOB</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="text" name="telephone_number" class="form-control" placeholder="telephone_number" value="{{ user.doctor.telephone_number }}">
                        <label for="telephone_number">Telephone number</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="text" name="address" class="form-control" placeholder="address" value="{{ user.doctor.address }}">
                        <label for="address">Address</label>
                    </div>
                    <div class="text-end">
                        <button type="submit" class="btn btn-primary">Update</button>
                    </div>
            </form>

        </div>
    </div>

</section>

{% endblock %}