{% extends "master.html" %}
{% block title %}Appointment Checkout - Bangladesh's Smart Patient Managing & Uniquelization Service{% endblock %}

{% block content %}

<section class="h-admin container">
    {% include "hospitals/admin_sidenav.html" %}

    <div class="h-admin-content">
        <div class="my-card">
            <div class="search-title">
                <h4>Check appointment</h4>
                <form class="d-flex">
                    <input class="form-control me-2" type="search" placeholder="Patient Username" aria-label="Search">
                    <button class="btn btn-outline-success" type="submit">Search</button>
                </form>
            </div>
            <hr class="mb-5">

            <div class="sign-form rounded border">
                <form action="" method="POST">
                    {% csrf_token %}
    
                    <div class="form-floating mb-3">
                        <select name="patient" class="form-select form-control form-select-sm" aria-label=".form-select-sm example">
                            <option selected>None</option>
                            {% if patients %}
                            {% for patient in patients %}
                            <option value="{{ patient.user.id }}">{{ patient.user.username }}</option>
                            {% endfor %}
                            {% else %}
                            {% endif %}
                        </select>
                        <label for="time">Select patient</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="text" name="h" class="form-control" placeholder="hospital" value="{{ request.user.hospital.hospital_name }}">
                        <input hidden type="text" name="hospital" value="{{ request.user.id }}">
                        <label for="hospital">Hospital</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="text" name="d" class="form-control" placeholder="doctor" value="{{ doctor.my_doctor.user.first_name }} {{ doctor.my_doctor.user.last_name }}">
                        <input hidden type="text" name="doctor" value="{{ doctor.my_doctor.user.id }}">
                        <label for="doctor">Doctor</label>
                    </div>
                    <div class="form-floating mb-3">
                        <select name="day" class="form-select form-control form-select-sm" aria-label=".form-select-sm example">
                            <option selected>None</option>
                            {% if times %}
                            {% for time in times %}
                            <option value="{{ time.day }}">{{ time.day }} - {{ time.time_from }} to {{ time.time_to }}</option>
                            {% endfor %}
                            {% else %}
                            {% endif %}
                        </select>
                        <label for="day">Select schedule</label>
                    </div>
    
                    <div class="text-end">
                        <button type="submit" class="btn btn-primary">Save</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

</section>

{% endblock %}
