{% extends "master.html" %}
{% block title %}Patients - Bangladesh's Smart Patient Managing & Uniquelization Service{% endblock %}

{% block content %}
<section class="container h-admin">
    {% include "hospitals/admin_sidenav.html" %}
    
    <div class="h-admin-content">
        <div class="my-card">
            <div class="search-title">
                <h4>Patients</h4>
                <form class="d-flex">
                    <input class="form-control me-2" type="search" placeholder="name or username" aria-label="Search">
                    <button class="btn btn-outline-success" type="submit">Search</button>
                </form>
            </div>
            <hr class="mb-5">
    
            {% comment %} <div class="doctor-search">
                <ul class="list-group">
                    <a href="" class="rounded">
                        <li class="list-group-item d-flex align-items-start">
                            <span class="badge bg-primary rounded-pill fs-6">id</span>
                            <div class="ms-5">
                                <div class="fw-bold fs-6">Nur Hosain Likhon</div>
                            </div>
                        </li>
                    </a>
                </ul>
            </div> {% endcomment %}

            <div class=" my-table">
                <table class="table table-borderless">
                    <thead>
                      <tr>
                        <th class="col-md-2">S/N.</th>
                        <th class="col-md-5">Patient name</th>
                        <th class="col-md-4">Username</th>
                        <th class="col-md-1">#</th>
                      </tr>
                    </thead>
                    <tbody>
                      {% if patients %}
                      {% for patient in patients %}
                        <tr>
                            <td scope="row">{{ forloop.counter }}</td>
                            <td><span class="fw-bold">{{ patient.my_patient.user.first_name }} {{ patient.my_patient.user.last_name }}</span></td>
                            <td><span class="fw-bold">{{ patient.my_patient.user.username }}</span></td>
                            <td><a href="{% url 'patient-detail' patient.my_patient.user.id %}"><span class="text-center bg-success text-white rounded p-2"><i class="fa-solid fa-user-pen"></i></span></a>
                                <span class="text-center bg-danger text-white rounded p-2"><i class="fa-solid fa-trash"></i></span>
                            </td>
                        </tr>
                        {% endfor %}
                      {% else %}
                      <tr>
                        <td>
                            <p>No appoinment found</p>
                        </td>
                      </tr>
                      {% endif %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</section>

{% endblock %}