{% extends "master.html" %}
{% block title %}Disease Detail - Bangladesh's Smart Patient Managing & Uniquelization Service{% endblock %}
{% load widget_tweaks %}
{% block content %}

<section class="container">

    <div class="my-card mt-4 mb-3">
        <h4>Disease Detail</h4>
        <hr class="mb-5">

        <div>
            <div class="row g-4">
                <div class="col-md-6">
                    <h5>{{ disease.disease_name }}</h5>
                    <p>Disease Description- {{ disease.disease_des }} Lorem ipsum dolor, sit amet consectetur adipisicing elit. Error, molestiae.</p>
                </div>
                <div class="col-md-6">
                    <h6>Hospital- {{ disease.hospital.hospital_name }}</h6>
                    <h6>Doctor- {{ disease.doctor.user.first_name }} {{ disease.doctor.user.last_name }}</h6>
                    <p>Specialty- {{ disease.doctor.specialty }}</p>
                </div>
            </div>
            <div class="row g-4 mt-4">
                <div class="col-md-6">
                    <div class="mb-3">
                        <h5>Medicines</h5>
                    </div>
                    <table class="table table-borderless table-striped">
                        <tbody>
                            {% if medicines %}
                            {% for medicine in medicines %}
                            <tr>
                                <td scope="row">Rx.</td>
                                <td>{{ medicine.medicine_name }}</td>
                                <td>{{ medicine.times_in_day }} p. day</td>
                                <td>{{ medicine.continuing_days }} days</td>
                            </tr>
                            {% endfor %}
                            {% else %}
                            <p>No medicine found</p>
                            {% endif %}
                            
                        </tbody>
                    </table>
                </div>
                <div class="col-md-6">
                    <div class="mb-3">
                        <h5>Tests</h5>
                    </div>
                    <table class="table table-borderless table-striped">
                        <tbody>
                            {% if tests %}
                            {% for test in tests %}
                            <tr>
                                <td>{{ test.test_name }}</td>
                                <td><a href="{% if test.test_report %}{{ test.test_report.url }}{% else %}#{% endif %}">{{ test.test_report }}</a></td>
                            </tr>
                            {% endfor %}
                            {% else %}
                            <p>No test</p>
                            {% endif %}
                            
                        </tbody>
                    </table>
                </div>
            </div>


            <div class="row g-4 mt-4">
                <div class="col-md-6">
                    <div class="mb-3">
                        <h5>Suggestions</h5>
                    </div>
                    {% if suggestions %}
                    {% for suggestion in suggestions %}
                        <p><span><i class="fa-sharp fa-solid fa-circle-info"></i></span> {{ suggestion.suggestion_des }}</p>
                    {% endfor %}
                    {% else %}
                    <p>No suggestions</p>
                    {% endif %}
                    
                </div>
                <div class="col-md-6">
                    <div class="mb-3">
                        <h5>Exercises</h5>
                    </div>
                    {% if exercises %}
                    {% for exercise in exercises %}
                        <p><span><i class="fa-sharp fa-solid fa-circle-info"></i></span> {{ exercise.exercise_des }}</p>
                    {% endfor %}
                    {% else %}
                    <p>No exercise need</p>
                    {% endif %}
                    
                </div>
            </div>


            <div class="mt-4">
                <div class="mb-3">
                    <h5>Note</h5>
                </div>
                {% if continues %}
                {% for continue in continues %}
                <p><span><i class="fa-sharp fa-solid fa-circle-info"></i></span> Need to continue- {{ continue.continuing_days }} days</p>
                <p><span><i class="fa-sharp fa-solid fa-circle-info"></i></span> Come again after {{ continue.come_after }} days later</p>
                {% endfor %}
                {% else %}
                <p>No note here</p>
                {% endif %}
            </div>
        </div>

    </div>

</section>

{% endblock %}