{% extends "master.html" %}
{% block title %}Playground - Bangladesh's Smart Patient Managing & Uniquelization Service{% endblock %}

{% block content %}

<section class="container">

    <div class="my-card mt-4 mb-3">
        <h4>Playground</h4>
        <hr class="mb-5">

        <div class="">
            {% comment %} <form action="" method="POST">
                {% csrf_token %}
                {{ rg_form.as_p }}
                {{ p_form.as_p }}
                {{ form.as_p }}
                <button type="submit" class="btn btn-primary form-control">Sign Up</button>
            </form> {% endcomment %}
            Let's Play
        </div>
    </div>

</section>

{% endblock %}